.contact {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.number {
    color: #333;
}

.button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #cc0000;
}

.user {
    margin-right: 5px;
}